{% extends 'base.html' %}

{% block title %}Tableau de Bord Entreprise - Adopte un Dev{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Bienvenue, {{ current_user.company_name }}</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Vos Offres d'Emploi</h3>
      <a href="{{ url_for('job.create_job') }}" class="btn btn-primary mb-3">Créer une nouvelle offre</a>
      {% if company_jobs %}
        <ul class="list-group">
          {% for job in company_jobs %}
            <li class="list-group-item">
              <a href="{{ url_for('job.get_job', job_id=job.id) }}">{{ job.title }}</a>
             
              <a href="{{ url_for('job.edit_job', job_id=job.id) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
              
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Vous n'avez publié aucune offre d'emploi pour le moment.</p>
      {% endif %}
    </div>

    <div class="col-md-6">
      <h3>Dernières Candidatures</h3>
      {% if recent_applications %}
        <ul class="list-group">
          {% for app in recent_applications %}
            <li class="list-group-item">
              {{ app.dev_name }} a postulé pour <a href="{{ url_for('view_job', job_id=app.job_id) }}">{{ app.job_title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Aucune candidature récente.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
