{% extends 'base.html' %}

{% block title %}Modifier Profil - Adopte un Dev{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Modifier votre profil</h1>

  <form method="post" action="{{ url_for('profile.update_profile', user_id=current_user.id) }}">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      <label for="name" class="form-label">Nom Complet</label>
      {{ form.name(class_='form-control', id='name', placeholder='Votre nom complet') }}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Adresse e-mail</label>
      {{ form.email(class_='form-control', id='email', placeholder='Votre email') }}
    </div>

    <div class="mb-3">
      <label for="skills" class="form-label">Compétences</label>
      {{ form.programming_languages(class_='form-control', id='skills', placeholder='Ex: Python, Flask, Bootstrap') }}
    </div>

    <div class="mb-3">
      <label for="minimum_salary" class="form-label">Salaire annuel minimum</label>
      {{ form.minimum_salary(class_='form-control', id='minimum_salary', placeholder='Ex: 75000$') }}
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Adresse</label>
      {{ form.location(class_='form-control', id='location', placeholder='Ex: Sherbrooke') }}
    </div>

    <div class="mb-3">
      <label for="experience" class="form-label">Années d'expérience</label>
      {{ form.experience_levels(class_='form-control', id='experience', placeholder='Ex: 3') }}
    </div>

    <div class="mb-3">
      <label for="biography" class="form-label">Biography</label>
      {{ form.biography(class_='form-control', id='biography') }}
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    <a href="{{ url_for('profile.get_profile', user_id=current_user.id) }}" class="btn btn-secondary">Annuler</a>
  </form>
</div>
{% endblock %}
